<template>
  <div class="mb-12">
    <v-container>
    <v-row>
      <v-col>
        <h1 class="primary--text">Verwaltung</h1>
        <h3 class="error--text mb-8">Nicht freigegebene Einträge:</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols=12 md="5" lg="4" xl="3">
        <v-overflow-btn
          class="mt-n6"
          :items="items"
          v-model="filter"
          label="Sortieren nach: Datum (neueste)"
          dense
        ></v-overflow-btn>   
      </v-col>
      <v-col class="d-flex justify-end">
        <AdminNavButtons/>
      </v-col>       
    </v-row>
    
    </v-container>

  <div >
  
        <v-row >
          <v-container  v-for="post in posts" :key='post.id'>
            <Post :post=post />
          </v-container> 
        </v-row>

    </div>

  </div>
  
</template>

<script>
import store from "@/store/index.js";
import Post from "@/components/Post";
import AdminNavButtons from '@/components/AdminNavButtons';

export default {
  name: 'App',
  data:() => ({
    filter: "Sortieren nach: Datum (neueste)",
    items: ['Sortieren nach: Datum (neueste)', 'Sortieren nach: Datum (älteste)', 'Sortieren nach: Likes', 'Sortieren nach: Dislikes']
  }),
  components:{
    Post, AdminNavButtons
  },
  computed:{
    posts() {
      switch(this.filter) {
        case "Sortieren nach: Datum (neueste)":
          return store.state.illegalPosts
        case "Sortieren nach: Datum (älteste)":
          return store.getters.illegalPostsByDateAsc
        case "Sortieren nach: Likes":
          return store.getters.illegalPostsByLikes
        case "Sortieren nach: Dislikes":
          return store.getters.illegalPostsByDislikes
        default:
          return store.state.illegalPosts
      }
    }
  },
   created() {
    store.dispatch('fetchIllegalPosts')
  }
}
</script>

<style>
.v-select__selection--comma {
  color: #8DA290 !important;
}
.v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle {
  color: #8DA290 !important;
}
.v-select.v-input--dense .v-select__selection--comma {
    color: #8DA290 !important;
}
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, 
.v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
    color: #8DA290 !important;
}
.v-text-field > .v-input__control > .v-input__slot::after {
  background-color: #8da290 !important;
  border-color: #8da290 !important;
}
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: #8da290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover
  > .v-input__control
  > .v-input__slot::before {
  border-color: #8da290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
  color: #8da290 !important;
}
</style>