<template>
  <div>
    <v-container v-if="comments">
      <v-row>
        <v-col>
          <h1 class="primary--text">Verwaltung</h1>
          <h3 class="error--text mb-6">Nicht freigegebene Kommentare:</h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col/>
        <v-col class="d-flex justify-end">
          <AdminNavButtons/>
        </v-col>
      </v-row>
        <div>
          <div v-for="comment in comments" :key='comment.id' class="ma-5">
            <Comment :id='comment.id' :person='comment.username' :dateString='comment.creationDate' :text='comment.text' :approvalStatus='comment.approvalStatus'/>
          </div>
        </div>
    </v-container>
    <v-container v-else>
      Daten werden erneut geladen...
    </v-container>
  </div>
  
</template>

<script>
import Comment from '@/components/Comment'
import store from "@/store/index.js"
import AdminNavButtons from '@/components/AdminNavButtons'

export default {

  name: 'App',
  data:() => ({
    comment: ""
  }),
  components: {
    Comment, AdminNavButtons
  },

  computed: {
    user() {
      return this.$store.state.user || {};
    },
    comments() {
      return this.$store.state.illegalComments
    }
  },
  beforeCreate(){
    store.dispatch('fetchIllegalComments')
  }
}

</script>

<style>
.redApproval{
  color:#FF6961 !important;

}
.greenApproval{
  color:#8DA290 !important;
}

.v-text-field > .v-input__control > .v-input__slot::after {
    background-color: #8DA290 !important;
    border-color: #8DA290 !important;
}
.theme--light.v-input input, .theme--light.v-input textarea {
    color: #8DA290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before {
    border-color: #8DA290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
    color: #8DA290 !important;
}



</style>