<template>
<div>
  <div class="ContactPadderDiv">
  </div>
  <v-card
    tile
    class="mx-auto my-12 secondary primary--text pb-6"
    max-width="374"
  >
  <v-card-title
      class="cardTitle"
    >    
    <span>
      Kontakt:
    </span>
    </v-card-title>
    <v-spacer></v-spacer>
    <v-card-subtitle class="primary--text text-center">
      Bei Fragen oder Anregungen sende uns <br>bitte eine E-Mail an:
    </v-card-subtitle>
    <div class="mailWrapper">
      <v-icon class="primary--text me-2">mdi-email</v-icon>
      <a href="mailto:admin@graetzlmap.at" class="primary--text">
        admin@graetzlmap.at
      </a>
    </div>
  </v-card>
</div>
</template>

<script>
export default {

}
</script>

<style>
.mailWrapper {
  text-align: center;
}
.cardTitle {
  justify-content: center;
}
.ContactPadderDiv {
  height: 50px;
}
</style>