<template>
  <div>
    <Map height="70vh" />
  </div>
</template>

<script>
import Map from '@/components/Map'

export default {

  name: 'App',
  data:() => ({}),
  components: {
    Map
  }

}
</script>

<style>


</style>