<template>
<div>
  <v-container>
    <h1 class="primary--text mb-4">Bezirke:</h1>
    <v-card
      class="secondary pt-8"
      tile
    >
      <div class="flex d-flex align-content-space-arround"
      :style="{height: height}">
        <div
          v-for="district in districts"
          :key='district.id'>
          <v-list-item class="primary--text listText" @click="$router.push({path: `/bezirke/${district.zip}`})">{{district.id}}. {{district.name}}</v-list-item>
        </div> 
      </div>
    </v-card>
  </v-container>
</div>
</template>

<script>
import store from "@/store/index.js"

export default {

  data:() => ({}),
  components: {
    
  },
  computed: {
    districts() {
      return store.state.districts
    },
    height () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return ""
        case 'sm': return ""
        case 'md': return "60vh"
        case 'lg': return "40vh"
        case 'xl': return "40vh"
        default: return "40vh"
      }
    },
  }
}

</script>

<style>
.flex {
 display: flex;
  flex-direction: column;
  flex-wrap: wrap
}
.cardTitle {
  justify-content: center;
}
.listText {
  justify-content: center;
}
</style>
