<template>
  <div>
    <v-container v-if="post">
      <v-row>
        <v-col class="ps-8 pe-8 pt-8 pb-12" xs="12" sm="12" md="6">
          <div>
            <v-row>
              <v-col class="primary--text pb-0">{{date}}</v-col>
            </v-row>
            <v-row v-if="user && (user.role === 'ADMIN' || user.role === 'MODERATOR')" class="ms-0 mb-n8">

              <v-btn color="error"
                class="me-5 white--text mt-3"
                @click="deletePost(currentPost.id);"
              >DELETE</v-btn>
              <v-switch
                color="primary"
                v-model="post.approvalStatus"
                inset
                @change="changeApproval(currentPost.id)"
                >
                <template v-slot:label>
                  <div>
                    <span>FREIGABESTATUS:</span> <span v-bind:class="[{greenApproval:post.approvalStatus}, {redApproval:!post.approvalStatus}]" style="font-weight:800;">{{post.approvalStatus}}</span>
                  </div>

                </template>
              </v-switch>
            </v-row>


            <v-row>
              <v-col>
                <!--don't remove whitespace between the two spans as it is essential for correct line-break responsiveness-->
                <span class="text-h4 primary--text font-weight-bold me-3">{{post.title}}</span> <span class="font-weight-thin font-italic">{{post.category}}</span></v-col>
                
            </v-row>
            <v-row>
              <v-col>{{post.text}}</v-col>
            </v-row>
            <v-row class="d-flex">
            <span class="primary--text mt-1 ms-3 me-2">
              Gefunden in: 
            </span>
            <span class="mt-1 me-8">
              {{ post.postalCode }} Wien
            </span>
              <div class="mx-5">
                <div class="d-flex">
                <div class="mt-1 me-2">
                {{post.likes}}
                </div>
                <button @click="rate(true)">
                  <v-icon :color="liked">
                    mdi-thumb-up
                  </v-icon>
                </button>
                </div>
              </div>

              <div class="mx-5 mt-1">
                {{post.dislikes}} 
                <button  @click="rate(false)">
                  <v-icon :color="disliked">
                    mdi-thumb-down
                  </v-icon>
                </button>
              </div>
            </v-row>
          </div>
        </v-col>

        <v-col xs="12" sm="12" md="5" class="my-5">
            <Map :height='height' :width='width' class=""/>
        </v-col>

      </v-row>
      <v-row>
        <v-col>
          <v-img v-if="post.image.substring(post.image.length - 13) != 'stockPost.jpg'" :src="post.image" alt=""/>
        </v-col>
      </v-row>

      <p class="text-h5 primary--text mb-0 mt-10">Kommentare</p>
      <div>
        <div v-for="comment in post.commentOfPostList" :key='comment.id' class="ma-5">
          <Comment :id='comment.id' :person='comment.username' :dateString='comment.creationDate' :text='comment.text' :approvalStatus='comment.approvalStatus' />
        </div>
      </div>

      <!--only display text field for comment if user logged-in-->
      <v-row v-if="this.$store.state.user">
        <v-col>
          <form
          novalidate
          @submit.prevent="sendComment"
          >
            <v-text-field
                v-model="comment"
                :counter="1000"
                :error-messages="commentErrors"
                label="Kommentar verfassen..."
                required
            >
            </v-text-field>    
          </form>
        </v-col>
        <!-- submit button --> 
        <div class="d-flex align-center">
          <v-btn
            class="ma-2"
            text
            plain
            icon
            color="primary"
            @click="validateComment();sendComment();"
          >
            <v-icon>mdi-send</v-icon>
          </v-btn>
        </div>


      </v-row>
      
      

      <!--if no user logged-in display link to registration instead of text field for comment-->
      <v-card-text v-else class="text-center">
          <div class="pb-4">
          <router-link to="/anmelden">
          Um einen Kommentar zu verfassen musst du eingeloggt oder registriert sein. Hier geht's zur Anmeldung!
          </router-link>
          </div>
      </v-card-text>

    </v-container>
    <v-container v-else>
      Daten werden erneut geladen...
    </v-container>
  </div>
  
</template>

<script>
import Map from '@/components/Map'
import Comment from '@/components/Comment'
import store from "@/store/index.js"
import { required, maxLength } from 'vuelidate/lib/validators'

export default {

  name: 'App',
  data:() => ({
    comment: "",
    liked: "grey lighten-2",
    disliked: "grey lighten-2",
    submitStatus: null
  }),
  components: {
    Map,
    Comment
  },
  validations: {
    comment: { required, maxLength: maxLength(1000) }
  },
  methods: {
    async sendComment(){
      if (this.submitStatus === null){
        try {
          await store.dispatch('postComment', {
            text: this.comment, 
            postId: parseInt(this.$route.params.id)
          })
          this.$v.$reset();
          if(this.user && (this.user.role === 'ENDUSER')){
            store.dispatch('getSnackbar', {text: 'Kommentar erfolgreich zum Review übermittelt.'})
          }
          this.comment=""
        } catch (err) {
          if (err) {
            store.dispatch('getSnackbar', {color: 'error', text: 'Ein Fehler ist aufgetreten. Der Kommentar konnte nicht gespeichert werden.'}) 
          }
        }
      }
    }, 
    validateComment() {
      this.$v.$touch()
      if (this.$v.comment.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = null
        }
    },
    changeApproval(id){
      store.dispatch('changePostApproval', id);
    },
    deletePost(id){
      store.dispatch('deletePostById', id);
      store.dispatch('fetchIllegalPosts');
      this.$router.go(-1);

    },
    async rate(rating){
      if(!store.state.user)
        store.dispatch('getSnackbar', {text: 'Melde dich an um abzustimmen'}) 
      else{
        await store.dispatch('ratePost', {postId: this.post.id, rating: rating})
        this.colorThumbs()
      }
      
    },

    colorThumbs(){
      //need work
      store.dispatch('getSingleRating', this.$route.params.id
      ).then(response => {
       switch (response) {
        case true: 
          this.liked = "primary";
          this.disliked = "grey lighten-2"
          break
        case false: 
          this.disliked = "error";
          this.liked = "grey lighten-2"
          break
        default:
          this.liked = "grey lighten-2"
          this.disliked = "grey lighten-2"
        }
      })
    },
  },

  computed: {
    commentErrors () {
      const errors = []
      if (!this.$v.comment.$dirty) return errors
      !this.$v.comment.maxLength && errors.push('Kommentar darf nicht mehr als 1000 Zeichen enthalten')
      !this.$v.comment.required && errors.push('Kommentartext benötigt')
      return errors
    },
    post() {
      /* consider reimplementation after BE requests of getPosts/all don't return comments anymore 

      switch (store.state.currentPost) {
        case null: console.log(store.getters.postById(this.$route.params.id));return store.getters.postById(this.$route.params.id)
        default: return store.state.currentPost
      }*/
      return store.state.currentPost
    },

    height () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return "18rem"
        case 'sm': return "20rem"
        case 'md': return "18rem"
        case 'lg': return "18rem"
        case 'xl': return "20rem"
        default: return "18x"
      }
    },

    width () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return "90vw"
        case 'sm': return "94vw"
        case 'md': return "40vw"
        case 'lg': return "550px"
        case 'xl': return "700px"
        default: return "80vw"
      }
    },
    user() {
      return this.$store.state.user || {};
    },
    currentPost(){
      return this.$store.state.currentPost || {};
    },
    date() {
      let formatedDate = new Date(this.post.creationDate)
      let month
      switch (formatedDate.getMonth()) {
        case 0: 
          month = 'Jänner';
          break
        case 1: 
          month = 'Februar';
          break
        case 2: 
          month = 'März';
          break     
        case 3: 
          month = 'April';
          break     
        case 4: 
          month = 'Mai';
          break     
        case 5: 
          month = 'Juni';
          break     
        case 6: 
          month = 'Juli';
          break     
        case 7: 
          month = 'August';
          break     
        case 8: 
          month = 'September';
          break     
        case 9: 
          month = 'Oktober';
          break
        case 10: 
          month = 'November';
          break
        case 11: 
          month = 'Dezember';
          break     
      }
      return `Erstellt am ${formatedDate.getDate()}. ${month} ${formatedDate.getFullYear()}`
      }
  },
  beforeCreate(){
    if(store.state.user && (store.state.user.role === 'ADMIN' || store.state.user.role === 'MODERATOR'))
      store.dispatch('getAdminPostData', this.$route.params.id)
    else
      store.dispatch('getUserPostData', this.$route.params.id)

    if(store.state.user)
    store.dispatch('getSingleRating', this.$route.params.id
    ).then(response => {
       switch (response) {
        case true: 
          this.liked = "primary";
          this.disliked = "grey lighten-2"
          break
        case false: 
          this.disliked = "error";
          this.liked = "grey lighten-2"
          break
        default:
          this.liked = "grey lighten-2"
          this.disliked = "grey lighten-2"
       }
  })
  }
}

</script>

<style>
.redApproval{
  color:#FF6961 !important;

}
.greenApproval{
  color:#8DA290 !important;
}

.v-text-field > .v-input__control > .v-input__slot::after {
    background-color: #8DA290 !important;
    border-color: #8DA290 !important;
}
.theme--light.v-input input, .theme--light.v-input textarea {
    color: #8DA290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before {
    border-color: #8DA290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
  color: #8DA290 !important;
}

.theme--light.v-counter {
  color: #8DA290 !important;
}

.v-application .error--text {
  color: #ff6961 !important;
  caret-color: #ff6961 !important;
}

</style>