<template>

<div>
  <div class="teamPadderDiv"></div>
  <v-card
      max-width="374"
      class="mx-auto secondary primary--text pb-4"
      tile
    >
    <v-card-title class="cardTitle">
      Wir stellen uns vor:
    </v-card-title>
      <v-list-item
        three-line
        class="mt-4 mb-4"
      >
        <div>
        <v-avatar
          size="90"
          class="avatarStyle"
        >
          <v-img
            src="@/assets/roman.png"
          >
          </v-img>
        </v-avatar>
      </div>
      <v-list-item-content class="primary--text">
        <v-list-item-title class="iconAndTextWrapper mb-2">
          Roman Schimanofsky
        </v-list-item-title>
        <v-list-item-subtitle class="primary--text iconAndTextWrapper">
          <v-icon class="primary--text">
            mdi-briefcase-variant
          </v-icon>
          Full Stack Developer
        </v-list-item-subtitle>
        <div class="iconAndTextWrapper">  
          <v-list-item-subtitle
            tag="a"
            href="mailto:rs@graetzlmap.at"
            class="primary--text"
          >
            <v-icon class="primary--text">
              mdi-email
            </v-icon>
            rs@graetzlmap.at
          </v-list-item-subtitle>
        </div>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>
     <v-list-item
      three-line
      class="mt-4 mb-4"
     >
        <div>
        <v-avatar
          size="90"
          class="avatarStyle"
        >
          <v-img
            src="@/assets/adminify.jpg"
          >
          </v-img>
        </v-avatar>
      </div>
      <v-list-item-content class="primary--text">
        <v-list-item-title class="iconAndTextWrapper mb-2">
          Jonas Schwarr
        </v-list-item-title>
        <v-list-item-subtitle class="primary--text iconAndTextWrapper">
          <v-icon class="primary--text">
            mdi-briefcase-variant
          </v-icon>
          Frontend Developer
        </v-list-item-subtitle>
        <div class="iconAndTextWrapper">  
          <v-list-item-subtitle
            tag="a"
            href="mailto:js@graetzlmap.at"
            class="primary--text"
          >
            <v-icon class="primary--text">
              mdi-email
            </v-icon>
            js@graetzlmap.at
          </v-list-item-subtitle>
        </div>
      </v-list-item-content>
    </v-list-item>
        <v-divider></v-divider>
     <v-list-item
      three-line
      class="mt-4 mb-4"
     >
        <div>
        <v-avatar
          size="90"
          class="avatarStyle"
        >
          <v-img
            src="@/assets/gerhart.jpg"
          >
          </v-img>
        </v-avatar>
      </div>
      <v-list-item-content class="primary--text">
        <v-list-item-title class="iconAndTextWrapper mb-2">
          Gerhart Brosenbauer
        </v-list-item-title>
        <v-list-item-subtitle class="primary--text iconAndTextWrapper">
          <v-icon class="primary--text">
            mdi-briefcase-variant
          </v-icon>
          Fullstack Developer<br>
          <v-icon class="primary--text">
            mdi-briefcase-variant
          </v-icon>
          Backend Connoisseur
        </v-list-item-subtitle>
        <div class="iconAndTextWrapper">  
          <v-list-item-subtitle
            tag="a"
            href="mailto:gb@graetzlmap.at"
            class="primary--text"
          >
            <v-icon class="primary--text">
              mdi-email
            </v-icon>
            gb@graetzlmap.at
          </v-list-item-subtitle>
        </div>
      </v-list-item-content>
    </v-list-item>



  </v-card>




</div>
</template>

<script>
export default {

}
</script>

<style>
.iconAndTextWrapper {
    text-align: start;
    margin-left: 30px;
}
.cardTitle {
  justify-content: center;
}
.avatarStyle {
  border: solid 4px #8DA290;
}
.teamPadderDiv {
  height: 50px;
}
</style>