<template>
<v-container>
  <div>
      <h1 class="primary--text pt-16">Nutzungsbedingungen & Allgemeine Geschäftsbedingungen:</h1>
      <h2 class="primary--text pt-16">Nutzungsbedingungen:</h2>
      <br>
      <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt recusandae ducimus, officiis explicabo autem dolorem corrupti eum cumque fugiat possimus, dolor harum eaque laboriosam cum voluptatem alias aliquid. Ullam minus quasi id alias eius nulla facere numquam placeat labore, sunt rem fuga provident quod assumenda error. Rerum sequi obcaecati hic id ipsa labore eligendi nostrum eveniet at nobis voluptas, quo consectetur unde doloremque ratione dolorem corporis explicabo animi suscipit! Temporibus, ipsum id excepturi aspernatur nemo, officiis illo impedit a, quaerat amet odio praesentium fugit modi quas quam? Aliquid minima incidunt dolorem, doloremque, at illum quod optio ab, voluptates totam sapiente repellendus amet.<br>
      <br>
      <h3 class="primary--text">Dienstanbieter</h3><br>
       Grätzlbay GmbH<br>
       Guglgasse 12/C<br>
       1110 Wien<br>
       <br><br>
       <h3 class="primary--text">Deine Verfplichtung gegenüber Grätzlmap und unserer Gemeinschaft</h3><br>
       ullam obcaecati quas aliquam repudiandae ab! Provident id consectetur aut soluta. Quibusdam minus velit sit provident dolor, laudantium itaque quam veritatis necessitatibus ad odit assumenda possimus pariatur. Nemo vitae molestias corporis et ad obcaecati, sed eius ratione facilis, adipisci perspiciatis iure veritatis a atque reiciendis nihil. Autem accusamus ab mollitia saepe repudiandae, nam vitae ea architecto vero sapiente tenetur consectetur voluptatem cumque sit rerum quod tempora excepturi voluptatum laudantium minima, praesentium suscipit. Rerum, magnam. Sequi natus aliquam esse. Ullam mollitia maxime atque eum repudiandae odio eos. Eum, optio ad deserunt ipsa non, fugiat esse explicabo, atque libero omnis obcaecati. Iste distinctio culpa delectus perferendis amet soluta blanditiis ut debitis nobis laboriosam, commodi tempore officiis ex dignissimos quaerat reiciendis aperiam assumenda harum possimus omnis magni. Molestiae nisi facere sunt ducimus sint repellendus earum quia cum repudiandae sed accusamus minus at dolore dignissimos in tempora vitae officia eligendi, soluta id labore quod ab exercitationem incidunt.
       <h2 class="primary--text pt-16">Allgemeine Geschäftsbedingungen:</h2><br><br>
       Quibusdam architecto fugit unde! Animi, aliquam id! Eveniet, obcaecati! Officia facilis dicta necessitatibus enim ratione unde iste aliquid veritatis. Esse officia explicabo sapiente quo ex molestiae dicta! Voluptate nulla aliquid adipisci impedit alias, est perferendis veniam sequi nostrum aperiam et harum ab nobis voluptatum. A blanditiis error voluptas labore laborum obcaecati ratione aliquam assumenda culpa cum delectus nemo debitis quae nulla explicabo sed fuga deserunt amet aliquid aspernatur asperiores, consequuntur ad. Pariatur a ex voluptate recusandae modi eum eligendi aliquam voluptates ipsum eos dicta nesciunt dolor veniam consequuntur, omnis ea cum assumenda id vel repellat voluptas. Fugit magni optio esse quae expedita reprehenderit iste fugiat. Facilis dolorum, dicta dignissimos, reiciendis nihil consequuntur quasi quod, sint voluptatum recusandae ea provident nulla? Quos accusantium doloribus aut est recusandae doloremque, nisi magnam aliquid nihil fuga laborum illo! Vitae excepturi minima corporis deserunt et labore iure id consequatur consectetur? Dolorem repellat suscipit excepturi, consequatur exercitationem dolore consectetur deleniti, laboriosam ipsa quia at quam quas, voluptates nostrum eaque. Quasi pariatur dolorem velit recusandae maiores aut iusto reprehenderit impedit, similique porro explicabo quia laudantium voluptatem maxime quae dicta quis necessitatibus nobis, nostrum nam totam repellat. Architecto totam dolorum voluptatem veritatis necessitatibus suscipit quae recusandae corporis. Vero odit, ex enim quidem ipsam harum eligendi laboriosam, aliquid impedit eveniet suscipit molestias ea perspiciatis mollitia! Sint officia distinctio quasi esse rerum cupiditate voluptates eaque doloribus aliquam nostrum aspernatur quidem et, cum natus ipsum quod? Ullam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa suscipit saepe totam eligendi soluta nisi eos qui assumenda ratione adipisci repudiandae veniam vel officia earum alias tenetur temporibus dicta, numquam quasi, quis facilis consectetur velit corrupti. Dolor ex enim natus fugiat facere officiis, asperiores nostrum. Quos unde ab dolorum obcaecati velit laudantium molestias mollitia consequatur itaque excepturi eum hic magni ea fuga quidem accusamus illum eos vitae error eius iure, aliquid incidunt. Necessitatibus perferendis doloremque omnis ullam officiis nostrum veritatis laborum placeat odio non incidunt ducimus modi corporis molestias exercitationem quae doloribus, inventore voluptate commodi harum nemo suscipit enim animi blanditiis. Animi tenetur rem at modi vero dolorem earum veniam laborum esse cum molestiae doloremque possimus, libero tempore non quibusdam architecto provident amet vitae distinctio, deserunt nesciunt. Voluptas velit quae quas quis accusamus voluptates unde aliquam temporibus amet repellendus labore voluptatum cum hic cupiditate, veniam, minus sunt quasi sit placeat vitae laudantium saepe, minima natus aut! Eligendi, ut debitis delectus enim velit fugiat totam facere perferendis, consequuntur reiciendis quisquam dolorum placeat in amet culpa explicabo. Dicta nobis, eum impedit quo molestiae vel aliquid cupiditate illo dignissimos necessitatibus facere similique aut repellendus quibusdam magnam doloremque ipsa eaque optio delectus velit nemo ad! Quod consectetur in repudiandae iure praesentium quibusdam consequuntur ex temporibus labore. Aperiam vel eius rem autem adipisci, nihil neque dicta commodi esse provident in cumque quasi illo quis deleniti sunt voluptas maxime reprehenderit ad omnis veniam. Veniam in iste facilis nobis dolorem sit, quis accusantium quaerat cum modi ea sint accusamus alias, id nostrum molestiae officiis rem mollitia eaque optio? Quasi voluptatem alias nobis animi, inventore doloribus voluptatibus laborum iure numquam. Officia consectetur voluptatum vitae facere reiciendis earum, consequuntur vero quis totam dolores tempora nobis modi distinctio rem voluptatibus quia excepturi fuga sequi maiores ex quidem natus nemo possimus libero? Accusamus commodi at deleniti provident, voluptatum architecto amet autem rerum nemo dolorum atque iste ipsum dicta consequatur saepe, quaerat minus. Atque ipsam repellendus itaque maxime labore minima consectetur consequuntur facilis, animi at ratione porro facere accusantium quibusdam beatae corporis tempore neque? Dolorem quae optio, quia earum velit suscipit omnis maxime possimus eius laudantium doloremque dolores soluta nam non, illo quis corrupti quas. Quo quas iure explicabo adipisci sapiente. Natus quo voluptate reprehenderit placeat ullam ab architecto sequi nulla? Atque, nihil commodi natus neque odit dignissimos itaque optio! Ex quos tempora accusamus necessitatibus adipisci neque ad in rem laborum earum quisquam voluptas quam blanditiis sunt sapiente beatae cumque quia provident ab, itaque aut perspiciatis nulla debitis accusantium! Molestias, nemo quo, quia amet perferendis sint consectetur minus accusantium eveniet repellat quaerat magni, aliquam dolorem odit ipsum at quam quisquam vel! Accusamus amet optio vitae minima expedita quia, repellat, eveniet incidunt voluptas distinctio quis dolorum, sunt eaque iste maxime labore doloremque totam similique doloribus non velit. Voluptatibus quia nihil soluta, delectus explicabo porro quis consectetur. Ex, quis magnam, praesentium ab quae in deserunt sapiente quasi rem optio aspernatur laboriosam? Voluptates facilis beatae a nemo quasi, omnis consequatur iure eligendi esse eum quidem ab sed recusandae laborum perferendis temporibus illum ad aperiam ducimus? Earum similique repudiandae blanditiis sit incidunt aspernatur odit exercitationem officiis rerum illo maiores mollitia, repellendus numquam fugit eligendi molestias temporibus eum nemo voluptas. Minima alias explicabo, reprehenderit totam voluptatem quis nemo, laborum dicta nam fugit ad incidunt! Necessitatibus eos officia illo nisi eligendi fugiat vel? Saepe quibusdam, praesentium eos minus ipsa culpa quia consequatur repudiandae, veritatis numquam earum magnam consectetur iure ullam natus? Dolorum accusamus dolore quidem ducimus, sapiente deserunt cupiditate ipsam illo rerum quod? Vero ut reprehenderit, sapiente cum obcaecati eaque tempore. Velit distinctio, eveniet dolores quia dignissimos explicabo dicta! Sint autem harum maxime est odit at doloremque exercitationem dolore. Vel dignissimos delectus laborum odio ratione, quod recusandae nisi accusantium in officiis possimus incidunt unde, iusto ipsam optio porro! Alias dolores fuga quae, perspiciatis corrupti maiores soluta maxime reiciendis in eum harum ipsa doloribus nesciunt libero facere nihil, repudiandae, blanditiis doloremque aliquam repellendus voluptatem! Animi quis, repudiandae architecto tempora nisi, recusandae nemo voluptate explicabo expedita, quasi quisquam error at odio? Doloribus corporis autem asperiores et placeat at nesciunt cumque, error qui sunt praesentium veniam, nostrum suscipit sed. Eaque reiciendis error repellendus numquam fugiat esse accusantium impedit nesciunt eos, tenetur ipsa consequuntur laudantium blanditiis aspernatur possimus, eius itaque dolore? Fuga excepturi cupiditate commodi, quo voluptatem illum distinctio deserunt laboriosam repellendus explicabo provident est quos porro quis optio amet. Consequatur, asperiores fugit consequuntur vel nesciunt aspernatur iusto, corporis nisi harum, mollitia officiis quae dolor id? Totam earum optio suscipit vero velit similique consequuntur enim beatae, perspiciatis, ea doloribus assumenda ut. 
  </div>
 
</v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>