<template>
  <div>
    <v-card
      tile
      class="mx-auto my-12 secondary primary--text"
      max-width="374"
    >
      <template slot="progress">
        <v-progress-linear
          color="primary"
          height="10"
          indeterminate
        ></v-progress-linear>
      </template>
      <v-card-title class="cardTitle">
        <span> Deine Daten: </span>
      </v-card-title>
      <v-img :src="user.image" alt="" height="250"/>
      <v-card-subtitle class="primary--text font-weight-bold">
        Username:
      </v-card-subtitle>
      <div class="d-flex">
        <v-card-text> {{ user.username }} </v-card-text>
        <!-- modal start -->
        <v-dialog v-model="usernameDialog" width="500">
          <!-- modal activator button start -->
          <template v-slot:activator="{ on, attrs }">
            <div class="profileBtnWrapper">
              <v-btn
                color="primary"
                class="text-capitalize mr-4"
                v-bind="attrs"
                v-on="on"
                text
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </div>
          </template>
          <!-- modal activator button end -->
          <!-- modal content start -->
          <v-card>
            <v-card-title class="primary--text font-weight-bold secondary">
              Username ändern
            </v-card-title>

            <form novalidate @submit.prevent="putUsername">
              <v-text-field
                v-model="username"
                :error-messages="usernameErrors"
                label="Neuer Username"
                required
                class="primary--text ms-4 me-4 mt-4"
              >
              </v-text-field>
              
              <v-text-field
                v-model="password"
                label="Passwort"
                type="password"
                required
                class="primary--text ms-4 me-4"
              >
              </v-text-field>


              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  class="text-capitalize"
                  text
                  type="submit"
                  @click="
                    validateUsername();
                    closeUsernameDialog();
                  "
                >
                  Absenden
                </v-btn>
              </v-card-actions>
            </form>
          </v-card>
          <!-- modal content end -->
        </v-dialog>
        <!-- modal end -->
      </div>

      <v-card-subtitle class="primary--text font-weight-bold">
        E-Mail:
      </v-card-subtitle>
      <div class="d-flex">
        <v-card-text> {{ user.email }} </v-card-text>

        <!-- modal start -->
        <v-dialog v-model="mailDialog" width="500">
          <!-- modal activator button start -->
          <template v-slot:activator="{ on, attrs }">
            <div class="profileBtnWrapper">
              <v-btn
                color="primary"
                class="text-capitalize mr-4"
                v-bind="attrs"
                v-on="on"
                text
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </div>
          </template>
          <!-- modal activator button end -->
          <!-- modal content start -->
          <v-card>
            <v-card-title class="primary--text font-weight-bold secondary">
              E-Mail-Adresse ändern
            </v-card-title>

            <form novalidate @submit.prevent="putEmail">
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                label="Neue E-Mail"
                required
                class="primary--text ms-4 me-4 mt-4"
              >
              </v-text-field>



              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  class="text-capitalize"
                  text
                  type="submit"
                  @click="
                    validateEmail();
                    closeMailDialog();
                  "
                >
                  Absenden
                </v-btn>
              </v-card-actions>
            </form>
          </v-card>
          <!-- modal content end -->
        </v-dialog>
        <!-- modal end -->
      </div>
      
      <v-card-subtitle class="primary--text font-weight-bold">
        Postleitzahl:
      </v-card-subtitle>
      <div class="d-flex">
        <v-card-text> {{ user.postalCode }} </v-card-text>

        <!-- modal start -->
        <v-dialog v-model="postalCodeDialog" width="500">
          <!-- modal activator button start -->
          <template v-slot:activator="{ on, attrs }">
            <div class="profileBtnWrapper">
              <v-btn
                color="primary"
                class="text-capitalize mr-4"
                v-bind="attrs"
                v-on="on"
                text
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </div>
          </template>
          <!-- modal activator button end -->
          <!-- modal content start -->
          <v-card>
            <v-card-title class="primary--text font-weight-bold secondary">
              Postleitzahl ändern
            </v-card-title>

            <form novalidate @submit.prevent="putPostalCode">
              <!-- <v-text-field
                v-model="postalCode"
                :error-messages="postalCodeErrors"
                label="Neue Postleitzahl"
                required
                class="primary--text ms-4 me-4 mt-4"
              >
              </v-text-field> -->
              <v-select
                v-model="postalCode"
                :items="zipItems"
                :error-messages="postalCodeErrors"
                label="Neue Postleitzahl"                
                required
                class="mt-4 ms-4 me-4"
              ></v-select>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  class="text-capitalize"
                  text
                  type="submit"
                  @click="
                    validatePostalCode();
                    closePostalCodeDialog();
                  "
                >
                  Absenden
                </v-btn>
              </v-card-actions>
            </form>
          </v-card>
          <!-- modal content end -->
        </v-dialog>
        <!-- modal end -->
      </div>


      

      <!-- change picture & passwort buttons (opens dialogs) -->
        <v-card-actions class="mt-4">
      <!-- modal start -->
        <v-dialog v-model="pictureDialog" width="500">
          <!-- modal activator button start -->
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              class="text-none mr-4"
              v-bind="attrs"
              v-on="on"
              text
            >
            Bild ändern
            </v-btn>
          </template>
          <!-- modal activator button end -->
          <!-- modal content start -->
          <v-card>
            <v-card-title class="primary--text font-weight-bold secondary">
              Profilbild ändern
            </v-card-title>
            <!-- Image Upload -->
                
              <v-card-actions>
                <v-container>
                <div class="mb-8 mt-4 primary--text">
              
                <input style="display: none" type="file" ref="fileInput" @change="onFileSelected">
                <v-btn @click="$refs.fileInput.click()"
                      color="primary"
                      class="text-none mb-2"
                      >Bild hinzufügen</v-btn>
                        {{imgName}}

                </div>
                 
                <v-row>
                    <v-spacer></v-spacer>

                  <v-btn
                    color="primary"
                    class="fileUpload text-none"
                    @click="onUpload(); closePictureDialog()"
                    text
                  >Bild speichern</v-btn>
                </v-row>
                </v-container>


              </v-card-actions>
          </v-card>



        </v-dialog>

        <v-spacer></v-spacer>

        <!-- modal start -->
        <v-dialog v-model="passwordDialog" width="500">
          <!-- modal activator button start -->
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              class="text-none mr-4"
              v-bind="attrs"
              v-on="on"
              text
            >
              Passwort ändern
            </v-btn>
          </template>
          <!-- modal activator button end -->
          <!-- modal content start -->
          <v-card>
            <v-card-title class="primary--text font-weight-bold secondary">
              Passwort ändern
            </v-card-title>

            <form novalidate @submit.prevent="putPassword">
              <v-text-field
                v-model="password"
                label="Altes Passwort"
                required
                type="password"
                class="ms-4 me-4 mt-4"
              >
              </v-text-field>
              
              <v-text-field
                v-model="newPassword"
                :error-messages="passwordErrors"
                label="Neues Passwort"
                required
                type="password"
                class="ms-4 me-4"
              >
              </v-text-field>

              <v-text-field
                v-model="repeatPassword"
                :error-messages="passwordErrors"
                label="Neues Passwort wiederholen"
                required
                type="password"
                class="ms-4 me-4"
              >
              </v-text-field>


              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  class="text-capitalize"
                  text
                  type="submit"
                  @click="
                    validatePassword();
                    closePasswordDialog();
                  "
                >
                  Absenden
                </v-btn>
              </v-card-actions>
            </form>
          </v-card>
          <!-- modal content end -->
        </v-dialog>
        <!-- modal end -->
 



        
      </v-card-actions>
    </v-card>
    <img :src="imagePreview"/>
  </div>
</template>

<script>
import { required, maxLength, minLength, email, sameAs } from "vuelidate/lib/validators";
import axios from 'axios';


export default {
  data: () => ({
    usernameDialog: false,
    mailDialog: false,
    postalCodeDialog: false,
    pictureDialog: false,
    passwordDialog: false,
    username: '',
    email: '',
    password: '',
    repeatPassword: '',
    newPassword: '',
    postalCode: '',
    image: '',
    imgName: 'Kein Bild ausgewählt',
    imagePreview: null,
    reader: null,
    selectedFile: null,
    submitStatus: null,
    zipItems: ['1010', '1020', '1030', '1040', '1050', '1060', '1070', '1080', '1090', '1100', '1110', '1120', '1130', '1140', '1150', '1160', '1170', '1180', '1190', '1200', '1210', '1220', '1230' ]
  }),
  validations: {
    username: { required, maxLength: maxLength(20) },
    email: { required, email },
    postalCode: { required },
    newPassword: { required, minLength: minLength(8), maxLength: maxLength(26) },
    repeatPassword: { sameAsPassword: sameAs('newPassword') },
  },
  methods: {
    validateUsername() {
      this.$v.$touch()
        if (this.$v.username.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = null
        }
    },
    validateEmail() {
      this.$v.$touch()
        if (this.$v.email.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = null
        }
    },
    validatePostalCode() {
      this.$v.$touch()
        if (this.$v.postalCode.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = null
        }
    },
    validatePassword() {
      this.$v.$touch()
        if (this.$v.newPassword.$invalid || this.$v.repeatPassword.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = null
        }
    },
    // functions for user image file upload
    onFileSelected(event) {
      if(event.target.files[0].type.indexOf('image/') === 0)
        this.selectedFile = event.target.files[0]
      if(!this.selectedFile)
        return
      this.imgName = `${this.selectedFile.name} (${String(this.selectedFile.size/1048576).slice(0, 4).replace(".", ",")} MB)`
    },
    async onUpload() {
       if (this.selectedFile){
          try {
            const fd = new FormData();
            fd.append('image', this.selectedFile, this.selectedFile.name)
            await axios.post('/api/user/profilePicture', fd, {
              onUploadProgress: uploadEvent => {
                console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100) + '%')
              }
            })
            this.$store.dispatch('getSnackbar', {text: 'Bild erfolgreich hochgeladen.'})
            //the following replaces the old picture with new picture immediately without the need to refetch it from BE
            this.reader = new FileReader()
            this.reader.onload = (e) => {this.user.image = e.target.result}
            this.reader.readAsDataURL(this.selectedFile)
          }catch (err){
            if (err) {
              this.$store.dispatch('getSnackbar', {color: 'error', text: 'Fehler beim Bilder-Upload...'}) 
            }
          } 
       }
    },

    // checks if Vuelidate returns error, if not -> closes dialog
    closeUsernameDialog() {
      if (this.$v.username.$anyError === false) {
        this.usernameDialog = false;
      }
    },
    closeMailDialog() {
      if (this.$v.email.$anyError === false) {
        this.mailDialog = false;
      }
    },
    closePostalCodeDialog() {
      if (this.$v.postalCode.$anyError === false) {
        this.postalCodeDialog = false;
      }
    },
    closePasswordDialog() {
      if (this.$v.newPassword.$anyError === false && this.$v.repeatPassword.$anyError === false) {
        this.passwordDialog = false;
      }
    },
    closePictureDialog() {
        this.pictureDialog = false;
    },
    // change user data:
    putUsername() {
      if (this.submitStatus === null){      
        this.$store.dispatch("putUser", {
          newUsername: this.username,
          email: null,
          password: this.password,
          postalCode: null,
          image: null,
          newPassword: null
        });
        this.$v.$reset();
      }
    },
    // change user email:
    putEmail() {
      if (this.submitStatus === null){
        this.$store.dispatch("putUser", {
          newUsername: null,
          email: this.email,
          password: null,
          postalCode: null,
          image: null,
          newPassword: null
        });
        this.$v.$reset();
      }
    },
    // change postal code:
    putPostalCode() {
      if (this.submitStatus === null) {
        this.$store.dispatch("putUser", {
          newUsername: null,
          email: null,
          password: null,
          postalCode: this.postalCode,
          image: null,
          newPassword: null
        });
        this.$v.$reset();
      }
    },
    // change password:
    putPassword() {
      if (this.submitStatus === null) {
        this.$store.dispatch("putUser", {
          newUsername: null,
          email: null,
          password: this.password,
          postalCode: null,
          image: null,
          newPassword: this.newPassword
        });
        this.$v.$reset();
      }
    }
  },
  computed: {
    // Vuelidate error returns
    usernameErrors() {
      const errors = []
      if (!this.$v.username.$dirty) return errors
      !this.$v.username.maxLength && errors.push("Username darf nicht mehr als 20 Zeichen enthalten")
      !this.$v.username.required && errors.push("Username erforderlich")
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email &&
        errors.push("Muss eine gültige E-Mail-Adresse sein")
      !this.$v.email.required && errors.push("E-mail-Adresse erforderlich")
      return errors
    },
    postalCodeErrors() {
      const errors = []
      if (!this.$v.postalCode.$dirty) return errors
      !this.$v.postalCode.required && errors.push("Postleitzahl erforderlich")
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.newPassword.$dirty) return errors;
      !this.$v.newPassword.required && errors.push('Passwort benötigt')
      !this.$v.newPassword.minLength && errors.push('Passwort muss mindestens 8 Zeichen enthalten')
      !this.$v.newPassword.maxLength && errors.push('Passwort darf nicht mehr als 26 Zeichen enthalten')
      !this.$v.repeatPassword.sameAsPassword && errors.push('Passwörter müssen übereinstimmen')
      return errors
    },
    user() {
      return this.$store.state.user || {};
    },
  }
};
</script>

<style>
.v-select__selection--comma {
  color: #8DA290 !important;
}
.v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle {
  color: #8DA290 !important;
}
.v-select.v-input--dense .v-select__selection--comma {
    color: #8DA290 !important;
}
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, 
.v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
    color: #8DA290 !important;
}
.v-text-field > .v-input__control > .v-input__slot::after {
  background-color: #8da290 !important;
  border-color: #8da290 !important;
}
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: #8da290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover
  > .v-input__control
  > .v-input__slot::before {
  border-color: #8da290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
  color: #8da290 !important;
}
.profileBtnWrapper {
  display: flex;
  align-items: center;
}
.cardTitle {
  justify-content: center;
}
</style>