<template>
  <v-btn-toggle
          dense
          borderless
          dark
          background-color="primary"
          v-model="toggle_exclusive"
          class="adminNavBtnStyle"
        >
          <v-btn
          class="text-none"
          color="primary"
          to="/verwaltung/eintraege">Einträge</v-btn>
          <v-btn
          class="text-none"
          color="primary"
          to="/verwaltung/kommentare">Kommentare</v-btn>
          <v-btn v-if="this.$store.state.user && this.$store.state.user.role === 'ADMIN'"
          class="text-none"
          color="primary"
          to="/verwaltung/mitglieder">Mitglieder</v-btn>
        </v-btn-toggle>
</template>

<script>
export default {
    data: () => ({
        toggle_exclusive: undefined
    })
}
</script>

<style>
.adminNavBtnStyle {
  box-shadow: 0px 10px 10px -10px #808080;
  border-radius: 5px;
}
</style>