<template>

  <div class="commentStyle mb-8 secondary">
    <v-container>
      <v-row>
        <v-col>
          <span class="primary--text">{{person}}</span><v-spacer /><span>{{date}}</span>
        </v-col>
        <v-col>
          <v-row v-if="this.$store.state.user && (this.$store.state.user.role === 'ADMIN' || this.$store.state.user.role === 'MODERATOR')">
            <v-btn color="error"
              class="ms-4 me-5 white--text mt-3"
              @click="deleteComment(id);"
            >DELETE</v-btn>
            <v-switch
              class="ms-4"
              color="primary"
              v-model="approval"
              inset
              @change="changeApproval(id)"
              >
              <template v-slot:label>
                <div>
                  <span>FREIGABESTATUS:</span> <span v-bind:class="[{greenApproval:approvalStatus}, {redApproval:!approvalStatus}]" style="font-weight:800;">{{approvalStatus}}</span>
                </div>
              </template>
            </v-switch>
          </v-row>
        </v-col>
      </v-row>
    <v-divider class="primary"></v-divider>
    <div class="font-italic mt-2">{{text}}</div> 
    </v-container>  
  </div>
</template>

<script>
export default {
  name: 'App',
  data:() => ({
    approval: null
  }),
  props: {
    id: Number,
    person: String,
    dateString: String,
    text: String,
    approvalStatus: Boolean
  },
  methods: {
    changeApproval(id){
      this.$store.dispatch('changeCommentApproval', {id, route:this.$route.name});
    },
    deleteComment(id){
      this.$store.dispatch('deleteCommentById', {id, route: this.$route.name})
    }
  },
  computed: {
    date() {
      let formatedDate = new Date(this.dateString)
      let now = new Date()

      let month
      switch (formatedDate.getMonth()) {
        case 0: 
          month = 'Jänner';
          break
        case 1: 
          month = 'Februar';
          break
        case 2: 
          month = 'März';
          break     
        case 3: 
          month = 'April';
          break     
        case 4: 
          month = 'Mai';
          break     
        case 5: 
          month = 'Juni';
          break     
        case 6: 
          month = 'Juli';
          break     
        case 7: 
          month = 'August';
          break     
        case 8: 
          month = 'September';
          break     
        case 9: 
          month = 'Oktober';
          break
        case 10: 
          month = 'November';
          break
        case 11: 
          month = 'Dezember';
          break     
      }

      let day
      switch (formatedDate.getDate()) {
        case now.getDate(): 
          day = 'Heute';
          break
        case now.getDate()-1: 
          day = 'Gestern';
          break
        default: day = `Am ${formatedDate.getDate()}. ${month} ${formatedDate.getFullYear()}`
      }

      return `${day}, um ${formatedDate.toTimeString().slice(0,5)} Uhr`
      },
    },
    created(){
      this.approval = this.approvalStatus
    }
}
</script>

<style scoped>
.commentStyle {
  box-shadow: 0px 10px 10px -10px #808080;
  border-radius: 5px;
}
</style>