<template>
 <cookie-law
   theme="dark-lime"
   buttonText="Alles klar!"
   message="Diese Webseite verwendet Cookies um dir die bestmögliche Erfahrung zu bieten"
 ></cookie-law>
</template>

<script>
import CookieLaw from 'vue-cookie-law'

export default {
    components: { CookieLaw }
}
</script>

<style>
.Cookie--dark-lime .Cookie__button:hover {
  background: #8DA290;
}
.Cookie--dark-lime .Cookie__button {
  background: #F2CBBB;
}
</style>