<template>
<div>
  <div class="btnWrapper mt-n10">
   <v-btn
    color="accent"
    elevation="4"
    x-large
    rounded
    :ripple="false"
    block   
    class="primary--text text-capitalize font-weight-bold btnStyle"
    >{{ btnText }}</v-btn>
  </div>

</div>
</template>

<script>
export default {
    data: () => ({
        btnText: 'Mehr erfahren'
    })
}
</script>

<style scoped>
.btnWrapper {
    width: 70%;
    margin: auto;
}
.btnStyle {
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
}
@media only screen and (min-width: 640px) {
    .btnWrapper {
        width: 55%;
        margin: auto;
    }
}
@media only screen and (min-width: 800px) {
    .btnWrapper {
        width: 40%;
        margin: auto;
    }
}
@media only screen and (min-width: 961px) {
    .btnWrapper {
        width: 30%;
        margin: auto;
    }
}
@media only screen and (min-width: 1081px) {
    .btnWrapper {
        width: 20%;
        margin: auto;
    }
}
</style>