<template>
<div>
  <v-card-title
    class="cardTitle"
  >
    <span class="pt-4">
      Anmeldedaten:
    </span>
  </v-card-title>
  
  <form
    novalidate
    @submit.prevent="logMeIn"
  >
   
    <v-text-field
        v-model="email"
        :error-messages="emailErrors"
        label="E-mail"
        required
        class="mt-4 ms-4 me-4"
    >
    </v-text-field>


    <v-text-field
        v-model="password"
        :error-messages="passwordErrors"
        label="Passwort"
        required
        type="password"
        class="mt-4 ms-4 me-4"
    >
    </v-text-field>
    <div class="error--text text-center">
      {{ loginError }}
    </div>
    <!-- submit button -->
    <div class="LoginBtnWrapper mt-8 mb-4">
    <v-btn
    class="primary text-capitalize btnStyle"
    type="submit"
    @click="submit"
    >
        Anmelden
    </v-btn>
    </div>

  </form>
  <v-card-text class="text-center">
      <div class="pb-4">
      <router-link to="/registrieren">
      Noch kein Grätzlmapper? Hier registrieren!
      </router-link>
      </div>
  </v-card-text>
</div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
    name: 'Login',
    data: () => ({
        email: '',
        password: '',
        loginError: '',
        submitStatus: null
    }),
    validations: {
        email: { required, email },
        password: { required },
    },
    methods: {
        submit () {
        this.$v.$touch()
        if (this.$v.$invalid) {
            this.submitStatus = 'ERROR'
          } else {
            this.submitStatus = null
          }
        },
        async logMeIn () {
        if (this.submitStatus === null){
          try {
            await this.$store.dispatch('login', {
              email: this.email,
              password: this.password
            })
            this.$v.$reset();
            this.$store.dispatch('getSnackbar', {text: 'Hallo, ' + this.$store.state.user.username})
            this.$router.push('/karte')
          } catch (err) {
            if (err instanceof Error && err.response.status === 401) {
              this.loginError = 'Falscher Username oder Passwort'
            } else {
              console.error(err)
              this.loginError = 'Ein unbekannter Fehler ist aufgetreten'
            }
          } 
        }
      }
    },
    computed: {
        emailErrors () {
            const errors = []
            if (!this.$v.email.$dirty) return errors
            !this.$v.email.email && errors.push('Muss eine gültige E-Mail-Adresse sein')
            !this.$v.email.required && errors.push('E-mail-Adresse erforderlich')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Passwort benötigt')
            return errors
        }
    }

}
</script>

<style>
.v-text-field > .v-input__control > .v-input__slot::after {
    background-color: #8DA290 !important;
    border-color: #8DA290 !important;
}
.theme--light.v-input input, .theme--light.v-input textarea {
    color: #8DA290 !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot::before,
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before {
    border-color: #8DA290 !important;
}
.v-input__slot::before,
.theme--light.v-label {
    color: #8DA290 !important;
}
.LoginBtnWrapper {
    text-align: center;
}
.cardTitle {
    justify-content: center;
}

</style>
