<template>
  <div>
    <!-- the z-index: 1 in l-map (has to be here) prevents the map from overlapping the nav-drawer and other ui-popups -->
    <!-- when using map as component it will only appear after props for dimensions are given e.g.: height="60vh" -->
    <l-map
      @click="onMapClick"
      style="z-index: 1"
      :style="{ height: height, width: width, }"
      :zoom="zoom"
      :center="center(markerLatLng)"
      :min-zoom="minZoom"
      :bounds="bounds"
      :max-bounds="maxBounds"
      class="mapStyle"
    >
      <!--decides which canvas is displayed - we use open street map, licensing requires certain attribution-->
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

      <!--loop through posts to display every LatLng-pair of each post inside-->
      <l-marker
        v-for="(post, index) in posts"
        :key="index"
        :lat-lng="[post.latitude, post.longitude]"
        :icon="standardIcon"
        @click="$router.push({path: `eintrag${post.id}`})"
        visible
        >
  
        <l-popup :content="post.title" />
        <l-tooltip :content="post.title" />
      </l-marker>

      <l-marker v-if="this.$store.state.currentLat"
        :lat-lng="[this.$store.state.currentLat, this.$store.state.currentLong]"
        :icon="temporaryIcon"
        :visible="this.$route.name == 'PostCreate'"
        class-name="tempMarker"
      >
      </l-marker>

    </l-map>
  </div>
</template>

<script>
import { latLngBounds, icon } from "leaflet";
import { LMap, LTileLayer, LMarker, LPopup, LTooltip } from "vue2-leaflet";
import store from "@/store/index.js";

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LTooltip,
  },

  props: {
    id: Number,
    title: String,
    markers: Array,
    height: String,
    width: String,
    latitude: Number,
    longitude: Number
  },
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 13,
      //if single marker - center on markerLatLng, else if multiple markers - show all (center vienna?)
      center: (markerLatLng) => {
        if (markerLatLng.length === 1) {
          return markerLatLng[0];
        } else {
          return [48.21, 16.363];
        }
      },

      markerLatLng: [
        [48.21, 16.363]
      ],
      bounds: latLngBounds([
        [48.324665, 16.157424],
        [48.108715, 16.587545],
      ]),
      maxBounds: latLngBounds([
        [48.324665, 16.157424],
        [48.108715, 16.587545],
      ]),
      standardIcon: icon({
        iconUrl: require("@/assets/MarkerPrimary.png"),
        iconSize: [26, 38],
        shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
        iconAnchor: [13, 38],
        tooltipAnchor: [16,-25]
      }),
      temporaryIcon: icon({
        iconUrl: require("@/assets/MarkerAccent.png"),
        iconSize: [26, 38],
        shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
        iconAnchor: [13, 38],
        tooltipAnchor: [16,-25]
      })
    };
  },
  methods:{
    onMapClick(value){
      if(this.$route.name == "PostCreate"){
      this.position = value.latlng;
      store.state.currentLat = value.latlng.lat
      store.state.currentLong = value.latlng.lng
      }
    }
  },
  computed: {
    posts() {
      if (this.$route.path === `/eintrag${this.$route.params.id}`) {
        const post = store.state.currentPost?store.state.currentPost:store.getters.postById(this.$route.params.id)
        return [post];
      } else if (this.$route.path === "/eintraege" || this.$route.path === "/verwaltung/eintraege")  {
        const post = {latitude: this.latitude, longitude: this.longitude}
        return [post]
      } else {
        return store.state.posts;
      }
    },
    minZoom(){
      if (this.$route.path === "/eintraege" || this.$route.path === "/verwaltung/eintraege") 
        return 10
      else 
        return 10
    }  
  },

  created() {
    if (store.state.posts === null && (this.$route.name == "PostCreate" || this.$route.name == "MapView"))
      this.$store.dispatch('fetchPosts')
    else if (this.$route.path === `/eintrag${this.$route.params.id}`)
      this.$store.dispatch('fetchPosts')

  }

};
</script>

<style scoped>
.mapStyle {
  border: solid 4px #8DA290;
}

.tempMarker {
  background-color: red;
}
</style>