<template>

  <div class="commentStyle mb-4 secondary">
    <v-container>
      <v-row>
        <v-col>
          <span class="primary--text me-4">{{username}}</span><v-spacer /><span>Beiträge: {{numberOfPosts}}&nbsp;</span><span>Kommentare: {{numberOfComments}}</span>
        </v-col>
        <v-col>
          <v-row v-if="role!='ADMIN'" class="d-flex justify-end me-10">
            <v-btn color="error"
              class="me-5 white--text mt-4"
              @click="deleteUser(username);"
            >DELETE</v-btn>
            <v-switch
              class="mt-5"
              color="primary"
              v-model="promoted"
              inset
              @change="changeRole(username)"
              >
              <template v-slot:label>
                <div>
                  <span>Rolle:</span> <span v-bind:class="[{moderator:promoted}, {enduser:!promoted}]" style="font-weight:800;">{{role}}</span>
                </div>
              </template>
            </v-switch>
          </v-row>
          <v-row v-else class="d-flex justify-end primary--text me-10 mt-2">
            <div>
                  <span>Rolle:</span> <span style="color:black">{{role}}</span>
                </div>
          </v-row>
        </v-col>
      </v-row>
    </v-container>  
  </div>
</template>

<script>

export default {

  name: 'App',
  data:() => ({
    promoted: null
  }),
  props: {
    id: Number,
    username: String,
    role: String,
    numberOfPosts: Number,
    numberOfComments: Number
  },
  
  methods: {
    changeRole(username){
      if(this.role === "ENDUSER"){
        this.$store.dispatch('promoteUser', username)
      }else if(this.role === "MODERATOR"){
        this.$store.dispatch('demoteUser', username)

      }
    },
    deleteUser(username){
      this.$store.dispatch('deleteUser', username)
    }
  },
  created() {
    this.promoted = this.role==="MODERATOR"
  }
}
</script>

<style>
.commentStyle {
  box-shadow: 0px 10px 10px -10px #808080;
  border-radius: 5px;
}
</style>